.lists {
    height: 50px;
    background-color: lightgrey;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: Arial;
    width: 250px;
}

span {
    margin-bottom: 5px;
}